@model IEnumerable<GetARoom.DAL.Address>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AddressStreetname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressBus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressLand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postal.PostalCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AddressStreetname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressBus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postal.PostalCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AddressId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AddressId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AddressId })
        </td>
    </tr>
}

</table>
