@model IEnumerable<GetARoom.DAL.Picture>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
          @Html.DisplayName("Thumb")       
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caption)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <center><img src="@Model.FirstOrDefault().Path" style="width: 30px; height:30px;" /></center>
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Path)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caption)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PictureId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PictureId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PictureId })
        </td>
    </tr>
}

</table>
