@model IEnumerable<GetARoom.DAL.Amenity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amenity1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmenityDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amenity1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmenityDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AmenityId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AmenityId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AmenityId })
        </td>
    </tr>
}

</table>
